body > header {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 10px #000;
	position: relative;
	z-index: 1;
}

body > header,
body > div > footer {
	background-color: #33363f;
}

body > header > aside {
	position: fixed;
	z-index: 9;
	left: 0;
	top: 0;
	height: 32px;
	line-height: 32px;
	width: 150px;
	font-style: italic;
	font-weight: bold;
	text-shadow: 0 0 10px #f3af12;
	background-color: #bb0000;
	transform: rotate(-45deg) translate3d(-28%, -18%, 0);
	-ms-transform: rotate(-45deg) translateX(-28%) translateY(-18%);
	overflow: hidden;
}

body > header span {
	display: block;
	animation: madeInChina 500ms 1 ease-in;
}

body > header > ul {
	padding: 0 1.5em;
}

body > header li {
	font-size: 14px !important;
}

body > header li:not(:last-child) {
	margin-right: 5%;
}

body > header button:hover {
	text-decoration: underline;
}

body > div {
	min-height: 100%;
	padding-top: 60px;
	margin-top: -60px;
	position: relative;
}

body > div > footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

[data-tip] {
	position: relative;
	overflow: hidden;
}

[data-tip]::before {
	content: attr(data-tip);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	padding: 3px 8px;
	box-shadow: 0 0 5px #888;
	color: #d61b70;
}

[data-bgcolor="light-black"] {
	background-color: #3c3c3c;
}

[data-status]::after {
	content: "√";
	font-family: Consolas;
	color: #5bc100;
	font-weight: bold;
	font-size: 16px;
	margin-left: 2px;
}

[data-status="0"]::after {
	content: "?";
	color: #ecb100;
}

[data-status="2"]::after {
	content: "666";
	color: #ea3333;
}


[ng-app="rexjs"] .CodeMirror {
	height: auto;
	border: 1px solid rgba(165, 165, 165, 0.6);
	font-family: Consolas;
	background-color: rgba(255, 255, 255, 0.6);
}

@keyframes madeInChina {
	0% {
		opacity: 0;
		transform: scale(1) rotate(360deg);
		-ms-transform: scale(1) rotate(360deg);
	}
	80% {
		opacity: 0.8;
		transform: scale(1.3) rotate(0);
		-ms-transform: scale(1.3) rotate(0);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0);
		-ms-transform: scale(1) rotate(0);
	}
}