body > header {
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 3px #000;
	position: relative;
	z-index: 9;
}

body > header,
body > div > footer {
	background-color: #333;
}

body > header > aside {
	position: absolute;
	left: 0;
	top: 0;
	height: 26px;
	line-height: 26px;
	width: 150px;
	font-style: italic;
	transform: rotate(-45deg) translate3d(-28%, -18%, 0);
	-ms-transform: rotate(-45deg) translateX(-28%) translateY(-18%);
	overflow: hidden;
}

body > header > aside,
body > header hr {
	background-color: #b00;
}

body > header span {
	display: block;
	/* animation: madeInChina 500ms 1 ease-in; */
}

body > header > nav {
	font-size: 14px;
}

body > header > ul {
	padding: 0 1.5em;
}

body > header li {
	font-size: 14px !important;
}

body > header li[data-focus="true"] {
	color: #ffe200;
}

body > header li:not(:last-child) {
	margin-right: 5%;
}

body > header a {
	display: block;
	height: 100%;
	padding: 0 10px;
}

body > header hr {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: -1;
    height: 3px;
    width: 0;
	opacity: 1;
}

body > header hr[data-count="0"] {
	opacity: 0;
	transition: opacity ease-in 1000ms;
}

body > div {
	min-height: 100%;
	padding-top: 48px;
	margin-top: -48px;
	position: relative;
}

body > div > footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

[data-tip] {
	position: relative;
	overflow: hidden;
}

[data-tip]::before {
	content: attr(data-tip);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	padding: 3px 8px;
	box-shadow: 0 0 5px #888;
	color: #d61b70;
}

[data-bgcolor="light-black"] {
	background-color: #3c3c3c;
}

[data-status]::after {
	content: "Yes";
	color: #5bc100;
	margin-left: 2px;
}

[data-status="0"]::after {
	content: "?";
	color: #ecb100;
}

[data-status="2"]::after {
	content: "666";
	color: #ea3333;
}


[ng-app="rexjs"] .CodeMirror {
	height: auto;
	border: 1px solid rgba(165, 165, 165, 0.6);
}

[ng-app="rexjs"] .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar {
	height: 6px;
}

[ng-app="rexjs"] .CodeMirror .CodeMirror-vscrollbar::-webkit-scrollbar {
	width: 6px;
}

[ng-app="rexjs"] .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-track,
[ng-app="rexjs"] .CodeMirror .CodeMirror-vscrollbar::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.2);
}

[ng-app="rexjs"] .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
[ng-app="rexjs"] .CodeMirror .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
	background-color:rgba(150, 150, 150, 0.6);
}

@keyframes madeInChina {
	0% {
		opacity: 0;
		transform: scale(1) rotate(360deg);
		-ms-transform: scale(1) rotate(360deg);
	}
	80% {
		opacity: 0.8;
		transform: scale(1.3) rotate(0);
		-ms-transform: scale(1.3) rotate(0);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0);
		-ms-transform: scale(1) rotate(0);
	}
}