#home-profile figure {
	width: 830px;
	margin: 0 auto;
}

#home-profile figcaption {
	text-align: right;
	
}

#home-profile figcaption > q {
	display: inline-block;
	margin-left: 2em;
}

#home-profile figcaption > q::before,
#home-profile figcaption > q::after {
	content: "";
}

#home-profile figcaption span {
	font-size: 18px;
}

#home-profile dl {
	height: 320px;
	position: relative;
	margin: 30px 0;
}

#home-profile blockquote > p {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	padding: 2px 6px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
}

#home-profile blockquote > p:empty {
	display: none;
}

#home-profile dt {
	height: 100%;
	width: 30px;
	padding: 0 6px 20px 0;
	text-align: right;
	position: relative;
}

#home-profile dt::before {
	content: "（秒）";
	position: absolute;
	bottom: 100%;
	right: 0;
	margin-bottom: 6px;
}

#home-profile dt > span {
	display: block;
}

#home-profile dd > p {
	width: 100%;
	white-space: nowrap;
}

#home-profile dd span:first-child {
	opacity: 0;
}

#home-profile dd span:last-child::after {
	content: "（kb）";
}

#home-profile svg {
	background: url(../image/bg-repeat.png) repeat 0 0 #fff;
	border: 1px solid #aaa;
	overflow: hidden;
}

#home-profile line {
	stroke: red;
	fill: none;
	stroke-width: 2;
}

#home-profile circle {
	fill: red;
	stroke-width: 1;
	r: 4;
}

#home-profile text {
	font-size: 14px;
}

#home-profile > footer {
	text-align: center;
}

#home-profile > footer > button {
	width: 120px;
	height: 32px;
	background-color: #b70000;
}

#home-profile > footer > button:disabled {
	opacity: 0.3;
	cursor: default;
}