#strategy-context {
	white-space: normal;
	word-break: break-word;
	font-size: 14px;
	line-height: 2em;
	padding: 30px;
}

#strategy-context > p {
	text-indent: 2em;
	margin-bottom: 1em;
}

#strategy-context > p,
#strategy-context::after {
	clear: both;
}

#strategy-context a {
	text-decoration: underline;
}

#strategy-context mark {
	padding: 0 3px;
	margin: 0 2px;
	line-height: 1em;
	background-color: #ffffd5;
}

#strategy-context img {
	float: left;
	border: 1px solid #ccc;
	margin-right: 8px;
}

#strategy-context::after {
	content: "";
	display: block;
}