article[data-page="home"] {
	background-color: #eee;
}

article[data-page="home"] > section {
	padding: 100px 0;
	width: 960px;
	margin: 0 auto;
}

article[data-page="home"] [id] {
	padding: 50px 0;
	position: relative;
}

article[data-page="home"] > section header {
	height: 1.5em;
	font-size: 16px;
	text-align: right;
	padding: 0 2em;
	margin-bottom: 30px;
}

article[data-page="home"] > section header::before {
	content: "-";
	margin-right: 0.5em;
}