section[data-page="home"] {
	background-color: #eee;
}

section[data-page="home"] > ul {
	padding: 100px 0;
}

section[data-page="home"] [id] {
	padding: 50px 0;
	position: relative;
}

section[data-page="home"] li > header {
	height: 1.5em;
	font-size: 16px;
	text-align: right;
	padding: 0 2em;
	margin-bottom: 30px;
}

section[data-page="home"] li > header::before {
	content: "-";
	margin-right: 0.5em;
}