#book-context {
	white-space: normal;
	word-break: break-word;
	font-size: 14px;
	line-height: 2em;
	padding: 0 30px 60px 30px;
}

#book-context dt {
	font-weight: bold;
	font-size: 26px;
	line-height: 1em;
	margin-bottom: 6px;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #ddd;
	margin-bottom: 1em;
}